/**************  web by yutao on 2017-9-3  *******************/


/* 从左向右的云 */

@keyframes yun2 {
    0% {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -ms-transform: translateX(1rem);
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem);
    }
}

@-webkit-keyframes yun2 {
    0% {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -ms-transform: translateX(1rem);
        -webkit-transform: translateX(1rem);
        transform: translateX(1rem);
    }
}


/* 从右向左的云 */

@keyframes yun {
    0% {
        -ms-transform: translateX(0);
        /* IE 9 */
        -webkit-transform: translateX(0);
        /* Safari */
        transform: translateX(0);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translateX(-1rem);
        /* IE 9 */
        -webkit-transform: translateX(-1rem);
        /* Safari */
        transform: translateX(-1rem);
        /* 标准语法 */
    }
}

@-webkit-keyframes yun {
    0% {
        -ms-transform: translateX(0);
        /* IE 9 */
        -webkit-transform: translateX(0);
        /* Safari */
        transform: translateX(0);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translateX(-1rem);
        /* IE 9 */
        -webkit-transform: translateX(-1rem);
        /* Safari */
        transform: translateX(-1rem);
        /* 标准语法 */
    }
}


/* 右边向右上角运动的音符 */

@keyframes note1 {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(.5rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(.5rem, -1rem);
        /* Safari */
        transform: translate(.5rem, -1rem);
        /* 标准语法 */
    }
}

@-webkit-keyframes note1 {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(.5rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(.5rem, -1rem);
        /* Safari */
        transform: translate(.5rem, -1rem);
        /* 标准语法 */
    }
}


/* 左边向左上运动的音符 */

@keyframes note2 {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(-.5rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(-.5rem, -1rem);
        /* Safari */
        transform: translate(-.5rem, -1rem);
        /* 标准语法 */
    }
}

@-webkit-keyframes note2 {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(-.5rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(-.5rem, -1rem);
        /* Safari */
        transform: translate(-.5rem, -1rem);
        /* 标准语法 */
    }
}


/* 第二页中间的转盘 */

@keyframes ellipse2 {
    0% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
    }
    100% {
        -ms-transform: scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5, 1.5);
        /* Safari */
        transform: scale(1.5, 1.5);
        /* 标准语法 */
    }
}

@-webkit-keyframes ellipse2 {
    0% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
    }
    100% {
        -ms-transform: scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5, 1.5);
        /* Safari */
        transform: scale(1.5, 1.5);
        /* 标准语法 */
    }
}


/* 飞出来的LIST 1 */


/* @keyframes fly {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    20% {
        -ms-transform: translate3d(0, -2rem, 1rem) scale(1.3, 1.35);
        -webkit-transform: translate3d(0, -2rem, 1rem) scale(1.3, 1.35);
        transform: translate3d(0, -2rem, 2rem) scale(1.3, 1.35);
        opacity: 1;
    }
    50% {
        -ms-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        opacity: 1;
    }
}

@-webkit-keyframes fly {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    20% {
        -ms-transform: translate3d(0, -2rem, 1rem) scale(1.3, 1.35);
        -webkit-transform: translate3d(0, -2rem, 1rem) scale(1.3, 1.35);
        transform: translate3d(0, -2rem, 2rem) scale(1.3, 1.35);
        opacity: 1;
    }
    50% {
        -ms-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 1rem) scale(1.25, 1.2);
        opacity: 1;
    }
} */

@keyframes fly {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    25% {
        -ms-transform: translate3d(0, -1.5rem, 0) scale(1.3, 1.35);
        -webkit-transform: translate3d(0, -1.5rem, 0) scale(1.3, 1.35);
        transform: translate3d(0, -1.5rem, 0) scale(1.3, 1.35);
        opacity: 1;
    }
    50% {
        -ms-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        opacity: 1;
    }
}

@-webkit-keyframes fly {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    25% {
        -ms-transform: translate3d(0, -1.5rem, 0) scale(1.3, 1.35);
        -webkit-transform: translate3d(0, -1.5rem, 0) scale(1.3, 1.35);
        transform: translate3d(0, -1.5rem, 0) scale(1.3, 1.35);
        opacity: 1;
    }
    50% {
        -ms-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        -webkit-transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        transform: translate3d(0, -2.3rem, 0) scale(1.25, 1.2);
        opacity: 1;
    }
}


/* 飞出来的LIST1 2 */

@keyframes fly1 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    20% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    35% {
        -ms-transform: translate3d(0, -.75rem, 0) scale(1.3, 1.3);
        -webkit-transform: translate3d(0, -.75rem, 0) scale(1.3, 1.3);
        transform: translate3d(0, -.75rem, 0) scale(1.3, 1.3);
        opacity: 1;
    }
    70% {
        -ms-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        opacity: 1;
    }
}

@-webkit-keyframes fly1 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    20% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    35% {
        -ms-transform: translate3d(0, -.75rem, 0) scale(1.3, 1.3);
        -webkit-transform: translate3d(0, -.75rem, 0) scale(1.3, 1.3);
        transform: translate3d(0, -.75rem, 0) scale(1.3, 1.3);
        opacity: 1;
    }
    70% {
        -ms-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 0) scale(1.15, 1.15);
        opacity: 1;
    }
}

@keyframes fly2 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    20% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.8;
    }
    70% {
        -ms-transform: translate3d(0, -.5rem, 0) scale(1.15, 1.2);
        -webkit-transform: translate3d(0, -.5rem, 0) scale(1.15, 1.2);
        transform: translate3d(0, -.5rem, 0) scale(1.15, 1.2);
        opacity: 1;
    }
    95% {
        -ms-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        transform: translate3d(0, -.5rem, 0) scale(1, 1);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        transform: translate3d(0, -.5rem, 0) scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes fly2 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.7;
    }
    20% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.8;
    }
    70% {
        -ms-transform: translate3d(0, -.5rem, 0) scale(1.15, 1.2);
        -webkit-transform: translate3d(0, -.5rem, 0) scale(1.15, 1.2);
        transform: translate3d(0, -.5rem, 0) scale(1.15, 1.2);
        opacity: 1;
    }
    95% {
        -ms-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        transform: translate3d(0, -.5rem, 0) scale(1, 1);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 0) scale(1, 1);
        transform: translate3d(0, -.5rem, 0) scale(1, 1);
        opacity: 1;
    }
}


/* @keyframes fly1 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    10% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.8;
    }
    20% {
        -ms-transform: translate3d(0, -1.2rem, 1rem) scale(1.3, 1.3);
        -webkit-transform: translate3d(0, -1.2rem, 1rem) scale(1.3, 1.3);
        transform: translate3d(0, -1.2rem, 1rem) scale(1.3, 1.3);
        opacity: 1;
    }
    20% {
        -ms-transform: translate3d(0, -1.3rem, 1rem) scale(1.3, 1.3);
        -webkit-transform: translate3d(0, -1.3rem, 1rem) scale(1.3, 1.3);
        transform: translate3d(0, -1.3rem, 1rem) scale(1.3, 1.3);
        opacity: 1;
    }
    85% {
        -ms-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        opacity: 1;
    }
}

@-webkit-keyframes fly1 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    10% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.8;
    }
    20% {
        -ms-transform: translate3d(0, -1.2rem, 1rem) scale(1.3, 1.3);
        -webkit-transform: translate3d(0, -1.2rem, 1rem) scale(1.3, 1.3);
        transform: translate3d(0, -1.2rem, 1rem) scale(1.3, 1.3);
        opacity: 1;
    }
    20% {
        -ms-transform: translate3d(0, -1.3rem, 1rem) scale(1.3, 1.3);
        -webkit-transform: translate3d(0, -1.3rem, 1rem) scale(1.3, 1.3);
        transform: translate3d(0, -1.3rem, 1rem) scale(1.3, 1.3);
        opacity: 1;
    }
    85% {
        -ms-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        -webkit-transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        transform: translate3d(0, -1.4rem, 1rem) scale(1.15, 1.15);
        opacity: 1;
    }
} */


/* 飞出来的LIST1 3 */


/* @keyframes fly2 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    10% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    20% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    50% {
        -ms-transform: translate3d(0, -.5rem, 1rem) scale(1.15, 1.2);
        -webkit-transform: translate3d(0, -.5rem, 1rem) scale(1.15, 1.2);
        transform: translate3d(0, -.5rem, 1rem) scale(1.15, 1.2);
        opacity: 1;
    }
    95% {
        -ms-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes fly2 {
    0% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    10% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    20% {
        -ms-transform: translate3d(0, 0, 0) scale(1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 0.2;
    }
    50% {
        -ms-transform: translate3d(0, -.5rem, 1rem) scale(1.15, 1.2);
        -webkit-transform: translate3d(0, -.5rem, 1rem) scale(1.15, 1.2);
        transform: translate3d(0, -.5rem, 1rem) scale(1.15, 1.2);
        opacity: 1;
    }
    95% {
        -ms-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        opacity: 1;
    }
    100% {
        -ms-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        -webkit-transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        transform: translate3d(0, -.5rem, 1rem) scale(1, 1);
        opacity: 1;
    }
} */


/* 第二页中间往右上角运动的动画 */

@keyframes righttop {
    0% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    12% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    30% {
        -ms-transform: translate(.6rem, -.9rem) scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: translate(.6rem, -.9rem) scale(1.5, 1.5);
        /* Safari */
        transform: translate(.6rem, -.9rem) scale(1.5, 1.5);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(1rem, -1.2rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(1rem, -1.2rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(1rem, -1.2rem) scale(1.8, 1.8);
        /* 标准语法 */
    }
}

@-webkit-keyframes righttop {
    0% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    12% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    30% {
        -ms-transform: translate(.6rem, -.9rem) scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: translate(.6rem, -.9rem) scale(1.5, 1.5);
        /* Safari */
        transform: translate(.6rem, -.9rem) scale(1.5, 1.5);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(1rem, -1.2rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(1rem, -1.2rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(1rem, -1.2rem) scale(1.8, 1.8);
        /* 标准语法 */
    }
}


/* 第二页中间往左上角运动的动画 */

@keyframes lefttop {
    0% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    5% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    30% {
        -ms-transform: translate(-.1rem, -1.2rem) scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: translate(-.1rem, -1.2rem) scale(1.5, 1.5);
        /* Safari */
        transform: translate(-.1rem, -1.2rem) scale(1.5, 1.5);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(-.15rem, -1.85rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(-.15rem, -1.85rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(-.15rem, -1.85rem) scale(1.8, 1.8);
        /* 标准语法 */
    }
}

@-webkit-keyframes lefttop {
    0% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    5% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    30% {
        -ms-transform: translate(-.1rem, -1.2rem) scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: translate(-.1rem, -1.2rem) scale(1.5, 1.5);
        /* Safari */
        transform: translate(-.1rem, -1.2rem) scale(1.5, 1.5);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(-.15rem, -1.85rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(-.15rem, -1.85rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(-.15rem, -1.85rem) scale(1.8, 1.8);
        /* 标准语法 */
    }
}

@keyframes lefttop2 {
    0% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }
    10% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    30% {
        -ms-transform: translate(-.25rem, -.4rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(-.25rem, -.4rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(-.25rem, -.4rem) scale(1.8, 1.8);
    }
    100% {
        -ms-transform: translate(-.3rem, -.75rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(-.3rem, -.75rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(-.3rem, -.75rem) scale(1.8, 1.8);
        /* 标准语法 */
    }
}

@-webkit-keyframes lefttop2 {
    0% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
    }
    10% {
        -ms-transform: translate(0, 0) scale(1, 1);
        /* IE 9 */
        -webkit-transform: translate(0, 0) scale(1, 1);
        /* Safari */
        transform: translate(0, 0) scale(1, 1);
        /* 标准语法 */
    }
    30% {
        -ms-transform: translate(-.25rem, -.4rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(-.25rem, -.4rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(-.25rem, -.4rem) scale(1.8, 1.8);
    }
    100% {
        -ms-transform: translate(-.3rem, -.75rem) scale(1.8, 1.8);
        /* IE 9 */
        -webkit-transform: translate(-.3rem, -.75rem) scale(1.8, 1.8);
        /* Safari */
        transform: translate(-.3rem, -.75rem) scale(1.8, 1.8);
        /* 标准语法 */
    }
}


/* 第二页的星星 */

@keyframes polygon {
    0% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
        opacity: 1;
    }
    50% {
        -ms-transform: scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5, 1.5);
        /* Safari */
        transform: scale(1.5, 1.5);
        /* 标准语法 */
        opacity: 0.5;
    }
    100% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
        opacity: 1;
    }
}

@-webkit-keyframes polygon {
    0% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
        opacity: 1;
    }
    50% {
        -ms-transform: scale(1.5, 1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5, 1.5);
        /* Safari */
        transform: scale(1.5, 1.5);
        /* 标准语法 */
        opacity: 0.5;
    }
    100% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
        opacity: 1;
    }
}


/* 第二页左上角音乐的本子 */

@keyframes benzi {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
        opacity: 1;
    }
    30% {
        -ms-transform: translate(-0.1rem, -.1rem);
        /* IE 9 */
        -webkit-transform: translate(-0.1rem, -.1rem);
        /* Safari */
        transform: translate(-0.1rem, -.1rem);
        /* 标准语法 */
        opacity: 1;
    }
    100% {
        -ms-transform: translate(-.7rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(-.7rem, -1rem);
        /* Safari */
        transform: translate(-.7rem, -1rem);
        /* 标准语法 */
        opacity: 0.3;
    }
}

@-webkit-keyframes benzi {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
        opacity: 1;
    }
    30% {
        -ms-transform: translate(-0.1rem, -.1rem);
        /* IE 9 */
        -webkit-transform: translate(-0.1rem, -.1rem);
        /* Safari */
        transform: translate(-0.1rem, -.1rem);
        /* 标准语法 */
        opacity: 1;
    }
    100% {
        -ms-transform: translate(-.7rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(-.7rem, -1rem);
        /* Safari */
        transform: translate(-.7rem, -1rem);
        /* 标准语法 */
        opacity: 0.3;
    }
}


/* 第二页右上角飞起来的两张纸 */

@keyframes righttops {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
        opacity: 1;
    }
    20% {
        -ms-transform: translate(0.1rem, -.2rem);
        /* IE 9 */
        -webkit-transform: translate(0.1rem, -.2rem);
        /* Safari */
        transform: translate(0.1rem, -.2rem);
        /* 标准语法 */
        opacity: 1;
    }
    70% {
        -ms-transform: translate(.7rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(.7rem, -1rem);
        /* Safari */
        transform: translate(.7rem, -1rem);
        /* 标准语法 */
        opacity: 0.3;
    }
    100% {
        -ms-transform: translate(.7rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(.7rem, -1rem);
        /* Safari */
        transform: translate(.7rem, -1rem);
        /* 标准语法 */
        opacity: 0.3;
    }
}

@-webkit-keyframes righttops {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
        opacity: 1;
    }
    20% {
        -ms-transform: translate(0.1rem, -.2rem);
        /* IE 9 */
        -webkit-transform: translate(0.1rem, -.2rem);
        /* Safari */
        transform: translate(0.1rem, -.2rem);
        /* 标准语法 */
        opacity: 1;
    }
    70% {
        -ms-transform: translate(.7rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(.7rem, -1rem);
        /* Safari */
        transform: translate(.7rem, -1rem);
        /* 标准语法 */
        opacity: 0.3;
    }
    100% {
        -ms-transform: translate(.7rem, -1rem);
        /* IE 9 */
        -webkit-transform: translate(.7rem, -1rem);
        /* Safari */
        transform: translate(.7rem, -1rem);
        /* 标准语法 */
        opacity: 0.3;
    }
}


/* 第三页的赞 */

@keyframes good {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
        opacity: 1;
    }
    40% {
        -ms-transform: translate(0, -1.8rem);
        /* IE 9 */
        -webkit-transform: translate(0, -1.8rem);
        /* Safari */
        transform: translate(0, -1.8rem);
        /* 标准语法 */
        opacity: 0;
    }
    100% {
        -ms-transform: translate(0, -1.8rem);
        /* IE 9 */
        -webkit-transform: translate(0, -1.8rem);
        /* Safari */
        transform: translate(0, -1.8rem);
        /* 标准语法 */
        opacity: 0;
    }
}

@-webkit-keyframes good {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
        opacity: 1;
    }
    40% {
        -ms-transform: translate(0, -1.8rem);
        /* IE 9 */
        -webkit-transform: translate(0, -1.8rem);
        /* Safari */
        transform: translate(0, -1.8rem);
        /* 标准语法 */
        opacity: 0;
    }
    100% {
        -ms-transform: translate(0, -1.8rem);
        /* IE 9 */
        -webkit-transform: translate(0, -1.8rem);
        /* Safari */
        transform: translate(0, -1.8rem);
        /* 标准语法 */
        opacity: 0;
    }
}


/* 第三页第三个LIST */

@keyframes list2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes list2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


/* 第三页模糊的圆 */

@keyframes circular2 {
    0% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
    }
    100% {
        -ms-transform: scale(2, 2);
        /* IE 9 */
        -webkit-transform: scale(2, 2);
        /* Safari */
        transform: scale(2, 2);
        /* 标准语法 */
    }
}

@-webkit-keyframes circular2 {
    0% {
        -ms-transform: scale(1, 1);
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
    }
    100% {
        -ms-transform: scale(2, 2);
        /* IE 9 */
        -webkit-transform: scale(2, 2);
        /* Safari */
        transform: scale(2, 2);
        /* 标准语法 */
    }
}


/* 放大的统一动画 */

@keyframes ellipse {
    0% {
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
    }
    100% {
        /* IE 9 */
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        /* Safari */
        transform: scale(1.5, 1.5);
        /* 标准语法 */
    }
}

@-webkit-keyframes ellipse {
    0% {
        /* IE 9 */
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        /* Safari */
        transform: scale(1, 1);
        /* 标准语法 */
    }
    100% {
        /* IE 9 */
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        /* Safari */
        transform: scale(1.5, 1.5);
        /* 标准语法 */
    }
}


/* 手机上的灯光效果 */

@keyframes ccc {
    0% {
        height: .2rem
    }
    20% {
        height: 1.8rem
    }
    100% {
        height: 1.8rem
    }
}

@-webkit-keyframes ccc {
    0% {
        height: .2rem
    }
    20% {
        height: 1.8rem
    }
    100% {
        height: 1.8rem
    }
}


/* 火箭的烟雾 */

@keyframes rocketflywrap {
    0% {
        height: 0rem
    }
    40% {
        height: 0rem
    }
    71% {
        height: 6.03rem
    }
    100% {
        height: 6.03rem
    }
}

@-webkit-keyframes rocketflywrap {
    0% {
        height: 0rem
    }
    40% {
        height: 0rem
    }
    71% {
        height: 6.03rem
    }
    100% {
        height: 6.03rem
    }
}


/* 火箭 */

@keyframes rocket3 {
    0% {
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari */
        transform: rotate(45deg);
        /* 标准语法 */
    }
    40% {
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari */
        transform: rotate(45deg);
        /* 标准语法 */
    }
    70% {
        -ms-transform: rotate(-65deg);
        /* IE 9 */
        -webkit-transform: rotate(-65deg);
        /* Safari */
        transform: rotate(-65deg);
        /* 标准语法 */
    }
    100% {
        -ms-transform: rotate(-65deg);
        /* IE 9 */
        -webkit-transform: rotate(-65deg);
        /* Safari */
        transform: rotate(-65deg);
        /* 标准语法 */
    }
}

@-webkit-keyframes rocket3 {
    0% {
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari */
        transform: rotate(45deg);
        /* 标准语法 */
    }
    40% {
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari */
        transform: rotate(45deg);
        /* 标准语法 */
    }
    70% {
        -ms-transform: rotate(-65deg);
        /* IE 9 */
        -webkit-transform: rotate(-65deg);
        /* Safari */
        transform: rotate(-65deg);
        /* 标准语法 */
    }
    100% {
        -ms-transform: rotate(-65deg);
        /* IE 9 */
        -webkit-transform: rotate(-65deg);
        /* Safari */
        transform: rotate(-65deg);
        /* 标准语法 */
    }
}


/* 五线谱 */

@keyframes wuimg {
    0% {
        width: 1rem
    }
    50% {
        width: 2.52rem
    }
    100% {
        width: 2.52rem
    }
}

@-webkit-keyframes wuimg {
    0% {
        width: 1rem
    }
    50% {
        width: 2.52rem
    }
    100% {
        width: 2.52rem
    }
}


/* 五线谱上的音符 */

@keyframes yinfu {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    50% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    55% {
        -ms-transform: translate(-.5rem, -.2rem);
        /* IE 9 */
        -webkit-transform: translate(-.5rem, -.2rem);
        /* Safari */
        transform: translate(-.5rem, -.2rem);
        /* 标准语法 */
    }
    60% {
        -ms-transform: translate(-.8rem, -.4rem);
        /* IE 9 */
        -webkit-transform: translate(-.8rem, -.4rem);
        /* Safari */
        transform: translate(-.8rem, -.4rem);
        /* 标准语法 */
    }
    65% {
        -ms-transform: translate(-1rem, -.6rem);
        /* IE 9 */
        -webkit-transform: translate(-1rem, -.6rem);
        /* Safari */
        transform: translate(-1rem, -.6rem);
        /* 标准语法 */
    }
    70% {
        -ms-transform: translate(-1.1rem, -.8rem);
        /* IE 9 */
        -webkit-transform: translate(-1.1rem, -.8rem);
        /* Safari */
        transform: translate(-1.1rem, -.8rem);
        /* 标准语法 */
    }
    75% {
        -ms-transform: translate(-1.2rem, -.9rem);
        /* IE 9 */
        -webkit-transform: translate(-1.2rem, -.9rem);
        /* Safari */
        transform: translate(-1.2rem, -.9rem);
        /* 标准语法 */
    }
    80% {
        -ms-transform: translate(-1.3rem, -1.1rem);
        /* IE 9 */
        -webkit-transform: translate(-1.3rem, -1.1rem);
        /* Safari */
        transform: translate(-1.3rem, -1.1rem);
        /* 标准语法 */
    }
    85% {
        -ms-transform: translate(-1.4rem, -1.2rem);
        /* IE 9 */
        -webkit-transform: translate(-1.4rem, -1.2rem);
        /* Safari */
        transform: translate(-1.4rem, -1.2rem);
        /* 标准语法 */
    }
    90% {
        -ms-transform: translate(-1.5rem, -1.3rem);
        /* IE 9 */
        -webkit-transform: translate(-1.5rem, -1.3rem);
        /* Safari */
        transform: translate(-1.5rem, -1.3rem);
        /* 标准语法 */
    }
    95% {
        -ms-transform: translate(-1.6rem, -1.3rem);
        /* IE 9 */
        -webkit-transform: translate(-1.6rem, -1.3rem);
        /* Safari */
        transform: translate(-1.6rem, -1.3rem);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(-1.7rem, -1.3rem);
        /* IE 9 */
        -webkit-transform: translate(-1.7rem, -1.3rem);
        /* Safari */
        transform: translate(-1.7rem, -1.3rem);
        /* 标准语法 */
    }
    100% {
        -ms-transform: translate(-2rem, -1.3rem);
        /* IE 9 */
        -webkit-transform: translate(-2rem, -1.3rem);
        /* Safari */
        transform: translate(-2rem, -1.3rem);
        /* 标准语法 */
    }
}

@-webkit-keyframes yinfu {
    0% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    50% {
        -ms-transform: translate(0, 0);
        /* IE 9 */
        -webkit-transform: translate(0, 0);
        /* Safari */
        transform: translate(0, 0);
        /* 标准语法 */
    }
    55% {
        -ms-transform: translate(-.5rem, -.2rem);
        /* IE 9 */
        -webkit-transform: translate(-.5rem, -.2rem);
        /* Safari */
        transform: translate(-.5rem, -.2rem);
        /* 标准语法 */
    }
    60% {
        -ms-transform: translate(-.8rem, -.4rem);
        /* IE 9 */
        -webkit-transform: translate(-.8rem, -.4rem);
        /* Safari */
        transform: translate(-.8rem, -.4rem);
        /* 标准语法 */
    }
    65% {
        -ms-transform: translate(-1rem, -.6rem);
        /* IE 9 */
        -webkit-transform: translate(-1rem, -.6rem);
        /* Safari */
        transform: translate(-1rem, -.6rem);
        /* 标准语法 */
    }
    70% {
        -ms-transform: translate(-1.1rem, -.8rem);
        -webkit-transform: translate(-1.1rem, -.8rem);
        transform: translate(-1.1rem, -.8rem);
    }
    75% {
        -ms-transform: translate(-1.2rem, -.9rem);
        -webkit-transform: translate(-1.2rem, -.9rem);
        transform: translate(-1.2rem, -.9rem);
    }
    80% {
        -ms-transform: translate(-1.3rem, -1.1rem);
        -webkit-transform: translate(-1.3rem, -1.1rem);
        transform: translate(-1.3rem, -1.1rem);
    }
    85% {
        -ms-transform: translate(-1.4rem, -1.2rem);
        -webkit-transform: translate(-1.4rem, -1.2rem);
        transform: translate(-1.4rem, -1.2rem);
    }
    90% {
        -ms-transform: translate(-1.5rem, -1.3rem);
        -webkit-transform: translate(-1.5rem, -1.3rem);
        transform: translate(-1.5rem, -1.3rem);
    }
    95% {
        -ms-transform: translate(-1.6rem, -1.3rem);
        -webkit-transform: translate(-1.6rem, -1.3rem);
        transform: translate(-1.6rem, -1.3rem);
    }
    100% {
        -ms-transform: translate(-1.7rem, -1.3rem);
        -webkit-transform: translate(-1.7rem, -1.3rem);
        transform: translate(-1.7rem, -1.3rem);
    }
    100% {
        -ms-transform: translate(-2rem, -1.3rem);
        -webkit-transform: translate(-2rem, -1.3rem);
        transform: translate(-2rem, -1.3rem);
    }
}